*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.main-background {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(../images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 444px;
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 54px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.green-box {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 0;
    margin-top: 29px;
    background-color: #3CB878;
}

.header-main {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 79px;
}

.header-link-logo:hover {
    color: #3CB878;
}

.header-svg-calendar {
    fill: #fff;
    transition: .3s;
}

.header-svg-calendar:hover {
    fill: #3CB878;
}

.header-svg-mail {
    fill: #fff;
    transition: .3s;
}

.header-svg-mail:hover {
    fill: #3CB878;
}

.header-svg-compass {
    fill: #fff;
    transition: .3s;
}

.header-svg-compass:hover {
    fill: #3CB878;
}

.header-link-logo {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    transition: .3s;
}

.header-images {
    display: flex;
}

.header-link {
    text-decoration: none;
}

.header-link-calendar {
    padding-right: 27px;
}

.header-link-mail {
    padding-right: 24px;
}

.header-link-compass {
    padding-right: 25px;
}

.header-link-line {
    padding-right: 27px;
}

.header-link-registred {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    transition: .3s;
}

.left:hover {
    color: #3CB878;
}

.right:hover {
    color: #3CB878;
}

.right {
    padding-right: 79px;
}

.form-container {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-bottom: 15px;
}

.form-signup {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.form-login {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 2px);
    text-decoration: none;
    color: #fff;
    padding: 10px 22px 10px 16px;
    border-radius: 4px;
}

.social-button-text {
    font-size: 16px;
    line-height: 16px;
}

.social-button-line {
    margin-right: auto;
    margin-left: 7px;
}

.facebook {
    background-color: #305DB8;
    transition: .3s;
}

.facebook:hover {
    background-color: #022263;
}

.google {
    background-color: #DF4A32;
    transition: .3s;
}

.google:hover {
    background-color: #AB1F09;
}

.form-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
    margin-bottom: 11px;
}

.main-line {
    border: none;
    background-color: #F2F2F2;
    color: #F2F2F2;
    width: calc(50% - 2px);
    height: 1px;
}

.line-text {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding-left: 4px;
    padding-right: 2px;
}

input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 100%;
    padding: 16px 20px;
}

input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: none;
    outline: none;
}

input[type=checkbox] {
    width: auto;
}

.form-name {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-confirm-psw {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.checkbox-main {
    margin-top: 12px;
}

.form-checkbox {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
}

.checkbox-link {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(60, 184, 120, 0.8);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
    border-radius: 4px;
    transition: .3s;
}

.btn-create-acc {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.submit-btn:hover {
    background-color: #01813F;
}
