body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    margin: 30% 0 0 0;
  }

  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Roboto', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }

  .animation-star-wars {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: scroll 30s linear infinite;
  }

  .animation-star-wars > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .animation-star-wars > .title h1,h2 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes scroll {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }